developer_options.txt
ghost/master/profile/ghost.dat
ghost/master/profile/ghost.dat.bak
ghost/master/profile/history.dat
ghost/master/profile/var.txt
ghost/master/yaya_variable.cfg
shell/master/profile/shell.dat
/shell/master/profile
